[Unit]
Description=Proton's distributed currency daemon
After=network.target

[Service]
User=Protoncore
Group=Protoncore

Type=forking
PIDFile=/var/lib/Protond/Protond.pid
ExecStart=/usr/bin/Protond -daemon -pid=/var/lib/Protond/Protond.pid \
-conf=/etc/Protoncore/Proton.conf -datadir=/var/lib/Protond -disablewallet

Restart=always
PrivateTmp=true
TimeoutStopSec=60s
TimeoutStartSec=2s
StartLimitInterval=120s
StartLimitBurst=5

[Install]
WantedBy=multi-user.target
